/*
 * Can't wait for latest PDL tables to land.
 * Feel free to remove this whole file once it does.
 *
 * (copied from confluence-content-report-plugin)
 */
table.aui.metadata-summary-macro {
    border-collapse: collapse;
    width: 100%;
}

table.aui.metadata-summary-macro table.aui.metadata-summary-macro {
    margin: 0;
}
table.aui.metadata-summary-macro > caption {
    color: #707070;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    caption-side: top;
    padding: 7px 10px;
    text-align: left;
}
table.aui.metadata-summary-macro > tbody > tr,
table.aui.metadata-summary-macro > tfoot > tr {
    background: #fff;
    border-bottom: 1px solid #ccc;
    color: #333;
}

table.aui.metadata-summary-macro > thead > tr > th,
table.aui.metadata-summary-macro > tbody > tr > th,
table.aui.metadata-summary-macro > thead > tr > td,
table.aui.metadata-summary-macro > tbody > tr > td,
table.aui.metadata-summary-macro > tfoot > tr > td {
    padding: 7px 10px;
    text-align: left;
    vertical-align: top;
}
table.aui.metadata-summary-macro > thead {
    border-bottom: 1px solid #ccc;
}
/* Borders on TBODY and TFOOT don't work in IE - whereas these at least work in IE7 & IE8 */
table.aui.metadata-summary-macro > tbody > tr:first-child > td,
table.aui.metadata-summary-macro > tbody > tr:first-child > th,
table.aui.metadata-summary-macro > tfoot > tr:first-child > td {
    border-top: 1px solid #ccc;
}
table.aui.metadata-summary-macro > thead > tr > th > ul.menu,
table.aui.metadata-summary-macro > tbody > tr > th > ul.menu,
table.aui.metadata-summary-macro > tbody > tr > td > ul.menu,
table.aui.metadata-summary-macro > tfoot > tr > td > ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table.aui.metadata-summary-macro > thead > tr > th > ul.menu > li,
table.aui.metadata-summary-macro > tbody > tr > th > ul.menu > li,
table.aui.metadata-summary-macro > tbody > tr > td > ul.menu > li,
table.aui.metadata-summary-macro > tfoot > tr > td > ul.menu > li {
    float: left;
    margin: 0 10px 0 0;
    width: auto;
}
