/* Copied from confluence-content-report-plugin, which implies that
 these should be common styles in Confluence core or even AUI */
.metadata-summary-macro {
    /*
        confluence-content-report-plugin makes this fixed, but we're explicitly
        making it auto here because we don't know how many columns there might be
    */
    table-layout: auto;
}

table.aui.metadata-summary-macro a {
    text-decoration: none;
}

table.aui.metadata-summary-macro a:focus,
table.aui.metadata-summary-macro a:hover,
table.aui.metadata-summary-macro a:active {
    text-decoration: underline;
}

.metadata-summary-macro td,
.metadata-summary-macro th,
.metadata-summary-macro th > div /* this is the table sorter div */ {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.aui.metadata-summary-macro > tbody > tr > td.social {
    text-align: right;
    white-space: nowrap;
}

table.aui.metadata-summary-macro > tbody > tr > td.social span.icon {
    margin-left: 6px;
}

table.aui.metadata-summary-macro > tbody > tr > td.social span.count {
    color: #707070;
}

/* override table sorter header style */
table.aui.tablesorter.metadata-summary-macro > thead > tr > th {
    background-color: #fff;
    background-repeat: no-repeat;
}

.table-wrap {
    padding-bottom: 1px;
}

.blueprint-blank-experience {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    min-height: 120px;
    padding: 20px 200px 20px 20px;
    margin-top: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALAAAADkAQMAAAACZjz8AAAABlBMVEX///9wcHB+CbPkAAAAAnRSTlMAM8lDrC4AAABqSURBVHhe7ZjLCcAgEAUXLMCSbN2SLEBY42mT3IQX8hsHYZmbOAfRrl5t2zmGuzSc+cnNd7Pi1ZIfBon+ct9A3/RN38s6+VxdpqPInS4SvXRKvYb39j3R6EhTrp/WN9A3fQPvb97fwM/ZAJWY7fysglrDAAAAAElFTkSuQmCC) right no-repeat;
}

.blueprint-blank-experience div.content {
    min-height: 80px;
}

.blueprint-blank-experience div.content h2 {
    margin-top : 0px;
}
